<header>
  Hi <%= full_name %>!
</header>

<div class="explain_followers">
  <p>You've got <%= current_followers %> followers on twitter.</p>
  <% if (current_followers && old_followers && current_followers !== old_followers) { %>
    <p>
      You've 
      <% if (current_followers > old_followers) { %>
        won <%= current_followers - old_followers %> followers
      <% } if (current_followers < old_followers) {%>
        lost <%= old_followers - current_followers %> followers
      <% } %>
      since last time you were here.
    </p>
  <% } %>
  <p>See your <a href='/follower_history'>follower history</a></p>
  <p><a href='/logout'>Logout</a></p>
</div>

<nav>
  <ul>
  </ul>
</nav>
