<div>
  <% history.forEach(function(event) { %>
    <div>
      <p>
        <%= event.what %> <%= event.who %> 
        <%= event.what == '+' ? 'started following you' : 'stopped following you' %> 
        on <%= event.when %>
      </p>
  </div>
  <% }) %>
</div>
