!!! 5
html
  head
    link(href='http://fonts.googleapis.com/css?family=Leckerli+One|VT323', rel='stylesheet', type='text/css')
    meta(charset="utf-8")
    title Twashboard
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/application.js")

  body
    #container
      h1 Twashboard
      != body
