<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One|VT323" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <title>Twashboard</title>
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/require.js" data-main="js/app.js"></script>
    <link href="/css/main.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="container">
      <h1>Twashboard</h1>
      <%- body %>
    </div>
  </body>
</html>
