<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/css?family=Leckerli+One|VT323" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <title>Twashboard</title>
    <link href="/styles/main.css" media="all" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <div id="header-wrapper">
        <h1>Tw<b>ashboard</b></h1>
        <div id="buttons">
          <div id="sign-in-button-wrapper">
            <a id="sign-in-button" href="/auth/twitter">
              Log in with twitter
            </a>
          </div>
        </div>
      </div>
    </header>
    <div id="container">
      <div id="main">
        <p> Hi! What's up? </p>

        <p> Go <a href="/auth/twitter">here</a> to see some twitter stats
      </div>
    </div>
  </body>
</html>
