<div class="add_stalked_user">
  <form action="./stalk" method="post">
    <label for="who">Add an user to stalk</label>
    <input type="text" name="who"></input>
    <button type="submit">Start stalking the fucker</button>
  </form>
</div>
