html, body {
  height: 100%; }

body {
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-color: #c8c8c8;
  font-family: museo-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-attachment: fixed; }

#container {
  width: 800px;
  margin: auto; }
