div Hi #{full_name}!

.explain_followers
  p You've got #{current_followers} followers on twitter.
  - if (first_time_user)
   p It looks like it's your first time visiting this site.

  - if (current_followers > 75000)
    p You've got a large number of followers, it will take a while to fetch them all

  - if (current_followers && old_followers && current_followers !== old_followers)
    p You've 
     - if (current_followers > old_followers)
       | won #{current_followers - old_followers} followers 
     - if (current_followers < old_followers)
       | lost #{old_followers - current_followers} followers 
     | since the last time you were here.

  div
    p See your 
      a#follower_history_link(href='/follower_history') follower history
    p
      a(href='/logout')
